<div class='middle'>

	<h2>Guten tag!</h2>
	<p style='margin-top:25px;'>My name is Abbee and I am a web developer living in London, Ontario.</p>
	
	<p>My experience mostly lies in back-end development, especially PHP and MySQL, but I have also done plenty of front-end work, and some 
	design. My greatest asset is my ability to learn new concepts quickly on my own, making me very adaptable and my skillset flexible.</p>
	
	<p>I have a passion for games and game development, and have been actively involved in the world of persistent browser-based games (PBBGs) 
	since 2006. I own and develop for four separate browser-based virtual pet games currently, and occasionally offer development services on a 
	contract basis.</p>
	
	<p>Art has been a large part of my life for as long as I can remember, and digital painting is a pastime of mine. I specialise in illustrations 
	of dogs for various clients, and also draw items and UI work for various browser-based games.</p>
	
	<p>I am currently seeking full-time employment in the local web development industry. If you're looking for a hard-working, efficient, quick 
	learner to join your team, please get in touch with me -- I'd love to chat!</p>

</div>