<div class='left_column'>
	<!-- Contact form not currently working -->
	<form id='contactform' method='post'>
		<p><input type='text' placeholder='your name'></p>
		<p><input type='text' placeholder='your e-mail'></p>
		<p><textarea placeholder='say hello!' rows='5'></textarea></p>
		<p><input type='submit' value='Send Message'></p>
	</form>
</div>

<div class='right_column'>
	<p>p: <span class='nav-font'>226-700-8755</span></p>
	<p>e: <span class='nav-font'>gutentag@abbeehughes.com</span></p>
</div>